body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    font-size: 15px;
    line-height: 1.6;
    background:#FFFFFF;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}

/* Page */
.page {
    overflow: hidden;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
	
}



/* главная */
.intro {
    font-family: 'Inter';
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Меню */
.header {
	
  font-family: 'Inter';
  background-size:cover;
  width: 100%;
  height: 70px;
  background-color: #7879F1;
  margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/*Фиксация меню*/
.header--fixed {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}
.header__inner {
	font-family: 'Inter';
	height:70px;
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
	font-family: 'Inter';
    font-size: 30px;
    font-weight: 700;
    color: black;
}

/*расположение в шапке*/
.header__inner {
	font-family: 'Inter';
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Логотип в шапке*/
.header__logo {
	font-family: 'Inter';
    font-size: 30px;
    font-weight: 700;
    color: white;
}


/* размер в шапке */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
/*Расположение в шапке и цвет*/
.nav__link {
	font-family: 'Inter';
    display: inline-block;
    vertical-align: top;
    margin: 0 400px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}
.nav___link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}
/*Полоска в шапке*/
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}



.nav__link:hover:after {
    opacity: 1;
}

/*основной блок*/
.intro {
	font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}
/*Надпись*/
.intro__inner {
	font-family: 'Inter';
	 font-weight: bolder;
	height: 550px;
	margin-left: 00px;
	font-size: 35px; 
    width: 100%;
    margin: 10 auto;

}
/*Надпись2*/
.intro__title {
	font-family: 'Inter';
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}
a{ font-family: 'Inter';
	text-decoration: none;
color:white;
}
/*кнопка загрузки*/
.panel2 {
  font-family: 'Inter';
  display: block;
  padding: 0.2em;
  width: 30%;
  text-align: center;
  background:#7879F1;
  border: 0;
  border-radius: 10px;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
  font-size: 0.6em;
  font-weight: 0;
 
}
.panel2:hover {
    	color: #fff;
    	background: #7879F1;
    	tansition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	-moz-transition: all .3s linear; 
    }
.panel2:focus {
  outline: none;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
	
}
/*Темы курса*/
.intro__Tem{
	font-family: 'Inter';
    margin-top:;
	font-size: 35px; 
    width: 100%;
    margin: 10 auto;
	 font-weight: bolder;
}
/*Подтемы курса*/
.intro__Mod{
    margin-top:30px;
	margin-bottom: 15px;
	font-size: 25px; 
    width: 100%;
    margin: 1 auto;
	 font-weight: bolder;
	color: #D3D3D3;
}
/*Изображение*/
.ima{
	width: 350px;
	height: 350px;
	margin-left: 30%;
}


p{
	font-family: 'Inter';
	margin-top:-10px;
	font-size: 20px; 
    width: 100%;
	font-weight: bold;
	color: #000;
	
	
}
/*Расположение тем курса*/
.panel5 {
  display: grid;
  grid-template-columns: 500px 500px 500px;
}

p:hover{
	
	tansition: all .3s linear;
	text-align: center;
    border: 0;
    border-radius: 10px;
	cursor: pointer;
	width: 40%;
    color: #fff;
    background: #7879F1;
    	
    }
p:focus {
  outline: none;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
	
}
}
a{
	
}
