* {
  margin: 0;
}
/*Адоптация*/
@media screen and (min-width: 600px) {
  .login-form {
    width: 50vw;
    max-width: 15em;
  }
}
.containerhead {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
	
}
/* Меню */
.header {
  background-size:cover;
  width: 100%;
  height: 70px;
  background-color: #7879F1;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
/*Фиксация меню*/
.header--fixed {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}
.header__inner {
	font-family: 'Inter';
	height:70px;
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
	font-family: 'GolosTextWebBlack';
    font-size: 30px;
    font-weight: 700;
    color: black;
}

/*расположение в шапке*/
.header__inner {
	
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Логотип в шапке*/
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}


/* размер в шапке */
.nav {
    font-size: 14px;
    
}
/*Расположение в шапке и цвет*/
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 400px;
    position: relative;
    color: #fff;
    text-decoration: underline #fff dashed;;
    transition: color .1s linear;
}
.nav___link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: underline #fff dashed;
    transition: color .1s linear;
}
/*Полоска в шапке*/
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}


.intro__inner{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 187px;
    left: 240px;
    top: 160px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}
.arrow{
    position: absolute;
    align-items: flex-start;
    left: 102px;
    top: 102px;
    margin: 0 px 10px;
}
.arrow i {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.topic{
    font-family: Inter;
    position: static;
    width: 600px;
    height: 77px;
    left: 0px;
    top: 0px;

   
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;

    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.about{
    font-family: Inter;
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 0px;
    top: 87px;


    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 140%;
    
    flex: none;
    margin: 10px 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1440px;
    height: 561px;
    left: 240px;
    top: 459px;
}
.lastmodels{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin: 30px 0px;
}
//Модели
.models{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1440px;
    height: 561px;
    left: 240px;
    top: 459px;
}
